In [1]:
# 本章数据分析小组练习--pandas 基础：Series、DataFrame 的创建与数据的增、改、替
import numpy as np
import pandas as pd

In [2]:
# task1--结合 numpy 创建一个 (3, 10) 区间内的包含 5 个随机整数的一维数组 ndarray 为 data1，
# 并以此 data 再创建索引为 a, b, c, d, e 的 Series 为 s1
# 任务提示：利用 np.random.randint() 创建随机矩阵
data1 = np.random.randint(3,10,5)
s1 = pd.Series(data1,index=list('abcde'))
print(s1)

a    8
b    6
c    8
d    5
e    5
dtype: int64

In [3]:
# task2--请分别用位置索引和标签索引的方式提取是 s1 的后三个数
# 用 标签索引的方式提取
a = s1.loc[s1.index[-3]:]
print(a)

c    8
d    5
e    5
dtype: int64

In [4]:
# 用位置索引的方式提取
b = s1.iloc[-3:]
print(b)

c    8
d    5
e    5
dtype: int64

In [5]:
# task3--请用字典的形式创建一个DataFrame，
# 将下方表格数据存储进去
# 任务提示：创建 DataFrame 有多种方式，本题以字典形式创建
df1 = pd.DataFrame({'year':[2017,2018,2019],'price':range(10,31,10)})
print(df1)

   year  price
0  2017     10
1  2018     20
2  2019     30

In [6]:
# task4--结合 numpy 创建一个 (5, 15) 区间内，
# 形状为 5 行 3 列的随机整数数组为 data2，
# 并以此为基础创建 index 为 ['a', 'c', 'e', 'f', 'h'];
# columns 为 ['one', 'two', 'three'] 的 DataFrame，并命名为 df_test
data2 = np.random.randint(5,15,15).reshape((5,3))
df_test = pd.DataFrame(data2,index=list('acefh'),columns=['one','two','three'])
print(df_test)

   one  two  three
a   14    8      6
c   10   13     12
e   13   14      6
f   13    9     14
h   11    6     14

In [7]:
# task5--运用 loc 索引以及替换的知识，按下列要求对 df_test 进行增、改、替操作。
# 完成上述要求后，将该数据命名为 df_change
# 任务提示：一般用 df.loc[行，列] = ？ 做替换
# task5-1-- 将 a 行 one 列处替换成空值
df_test.loc['a','one'] = None
print(df_test)

    one  two  three
a   NaN    8      6
c  10.0   13     12
e  13.0   14      6
f  13.0    9     14
h  11.0    6     14

In [8]:
# task5-2--将 c 行 two 列处替换成 -99
df_test.loc['c','two'] = -99
print(df_test)

    one  two  three
a   NaN    8      6
c  10.0  -99     12
e  13.0   14      6
f  13.0    9     14
h  11.0    6     14

In [9]:
# task5-3--将 c 行 three 列处替换成 -99
df_test.loc['c','three'] = -99
print(df_test)

    one  two  three
a   NaN    8      6
c  10.0  -99    -99
e  13.0   14      6
f  13.0    9     14
h  11.0    6     14

In [10]:
# task5-4--将 a 行 two 列处替换成 -100
df_test.loc['a','two'] = -100
print(df_test)

    one  two  three
a   NaN -100      6
c  10.0  -99    -99
e  13.0   14      6
f  13.0    9     14
h  11.0    6     14

In [11]:
# task5-5--新增 four 列，值为 test
df_test['four'] = 'test'
print(df_test)

    one  two  three  four
a   NaN -100      6  test
c  10.0  -99    -99  test
e  13.0   14      6  test
f  13.0    9     14  test
h  11.0    6     14  test

In [12]:
# task5-6--重置索引为 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
df_change = df_test.reindex(list('abcdefgh'))
print(df_change)

    one    two  three  four
a   NaN -100.0    6.0  test
b   NaN    NaN    NaN   NaN
c  10.0  -99.0  -99.0  test
d   NaN    NaN    NaN   NaN
e  13.0   14.0    6.0  test
f  13.0    9.0   14.0  test
g   NaN    NaN    NaN   NaN
h  11.0    6.0   14.0  test

In [13]:
# task6--删除 df_change 中存在缺失值的所有行
df3 = df_change.copy()
df3.dropna(inplace=True)
print(df3)

    one   two  three  four
c  10.0 -99.0  -99.0  test
e  13.0  14.0    6.0  test
f  13.0   9.0   14.0  test
h  11.0   6.0   14.0  test

In [14]:
# task7--删除 df_change 中所有值都为 NaN 值的行
df4 = df_change.copy()
df4.dropna(how='all',inplace=True)
print(df4)

    one    two  three  four
a   NaN -100.0    6.0  test
c  10.0  -99.0  -99.0  test
e  13.0   14.0    6.0  test
f  13.0    9.0   14.0  test
h  11.0    6.0   14.0  test

In [15]:
# task8--df_change 中的所有缺失值（即 NaN）以 0 填充
df_change.fillna(0,inplace=True)
print(df_change)

    one    two  three  four
a   0.0 -100.0    6.0  test
b   0.0    0.0    0.0     0
c  10.0  -99.0  -99.0  test
d   0.0    0.0    0.0     0
e  13.0   14.0    6.0  test
f  13.0    9.0   14.0  test
g   0.0    0.0    0.0     0
h  11.0    6.0   14.0  test

In [16]:
# task9--删除 df_change中的重复行
df_change.drop_duplicates(inplace=True)
print(df_change)

    one    two  three  four
a   0.0 -100.0    6.0  test
b   0.0    0.0    0.0     0
c  10.0  -99.0  -99.0  test
e  13.0   14.0    6.0  test
f  13.0    9.0   14.0  test
h  11.0    6.0   14.0  test