In [2]:
# 本章数据分析小组练习--pandas 基础：读取外部数据与数据选取

import pandas as pd

In [3]:
# task1--利用 pandas 读取 sh.600000.csv 文件中的数据，字段说明如下
df1 = pd.read_csv('/Users/apple/Desktop/sh.600000.csv')
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         245 non-null    object
 1   code         245 non-null    object
 2   open         245 non-null    float64
 3   high         245 non-null    float64
 4   low          245 non-null    float64
 5   close        245 non-null    float64
 6   preclose     245 non-null    float64
 7   volume       245 non-null    int64
 8   amount       245 non-null    float64
 9   adjustflag   245 non-null    int64
 10  turn         245 non-null    float64
 11  tradestatus  245 non-null    int64
 12  pctChg       245 non-null    float64
 13  peTTM        245 non-null    float64
 14  pbMRQ        245 non-null    float64
 15  psTTM        245 non-null    float64
 16  pcfNcfTTM    245 non-null    float64
 17  isST         245 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 34.6+ KB
None

In [4]:
# task2--查看前 5 行数据与后 5 行数据
# 前 5行数据
print(df1.head())

         date       code       open       high        low      close  \
0  2017-12-07  sh.600000  12.814685  12.893850  12.775103  12.824581
1  2017-12-08  sh.600000  12.844372  12.854267  12.735521  12.794894
2  2017-12-11  sh.600000  12.784999  12.903745  12.715730  12.834476
3  2017-12-12  sh.600000  12.834476  12.834476  12.606880  12.616775
4  2017-12-13  sh.600000  12.666253  12.676148  12.498029  12.606880

    preclose    volume       amount  adjustflag      turn  tradestatus  \
0  12.824581  34802229  451233524.0           2  0.123835            1
1  12.824581  31296221  404411517.0           2  0.111360            1
2  12.794894  36649902  474566888.0           2  0.130409            1
3  12.834476  30370097  390113096.0           2  0.108064            1
4  12.616775  19345338  246331123.0           2  0.068835            1

     pctChg     peTTM     pbMRQ     psTTM  pcfNcfTTM  isST
0  0.000000  7.004418  0.981842  2.310626  -2.043354     0
1 -0.231479  6.988205  0.979569  2.305277  -2.038624     0
2  0.309358  7.009823  0.982600  2.312409  -2.044930     0
3 -1.696224  6.890921  0.965933  2.273185  -2.010244     0
4 -0.078433  6.885516  0.965175  2.271402  -2.008667     0

In [5]:
# 后 5行数据
print(df1.tail())

           date       code   open   high    low  close  preclose    volume  \
240  2018-12-03  sh.600000  10.99  11.05  10.84  11.02     10.71  43049070
241  2018-12-04  sh.600000  11.00  11.08  10.97  11.08     11.02  20811293
242  2018-12-05  sh.600000  10.99  11.10  10.96  11.00     11.08  25491217
243  2018-12-06  sh.600000  10.82  10.93  10.82  10.90     11.00  23597997
244  2018-12-07  sh.600000  10.94  11.03  10.88  10.89     10.90  10580550

          amount  adjustflag      turn  tradestatus    pctChg     peTTM  \
240  472438382.0           2  0.153179            1  2.894495  5.820451
241  229713745.0           2  0.074052            1  0.544460  5.852141
242  281189602.0           2  0.090704            1 -0.722021  5.809888
243  256533148.0           2  0.083967            1 -0.909094  5.757070
244  115760323.0           2  0.037648            1 -0.091736  5.751789

        pbMRQ     psTTM  pcfNcfTTM  isST
240  0.760281  1.899833   3.113035     0
241  0.764420  1.910177   3.129985     0
242  0.758901  1.896385   3.107385     0
243  0.752002  1.879146   3.079136     0
244  0.751312  1.877422   3.076312     0

In [6]:
# task3--查看该份数据的描述统计
# 查看表 数值型数据 基本描述
print(df1.describe())

             open        high         low       close    preclose  \
count  245.000000  245.000000  245.000000  245.000000  245.000000
mean    11.095712   11.189029   10.992367   11.084785   11.092682
std      1.132764    1.144871    1.125110    1.136245    1.141595
min      9.163242    9.252302    9.074183    9.163242    9.163242
25%     10.170000   10.270000   10.100000   10.170000   10.170000
50%     10.815792   10.885061   10.700000   10.786106   10.786106
75%     12.280328   12.349596   12.230850   12.290223   12.329805
max     13.507371   13.853714   13.220401   13.507371   13.507371

             volume        amount  adjustflag        turn  tradestatus  \
count  2.450000e+02  2.450000e+02       245.0  245.000000        245.0
mean   3.582759e+07  4.270868e+08         2.0    0.127483          1.0
std    4.524912e+07  6.108954e+08         0.0    0.161007          0.0
min    8.995716e+06  9.169444e+07         2.0    0.032009          1.0
25%    1.755753e+07  1.882069e+08         2.0    0.062474          1.0
50%    2.294848e+07  2.417497e+08         2.0    0.081656          1.0
75%    3.148443e+07  3.724712e+08         2.0    0.112029          1.0
max    3.796536e+08  5.099364e+09         2.0    1.350900          1.0

           pctChg       peTTM       pbMRQ       psTTM   pcfNcfTTM   isST
count  245.000000  245.000000  245.000000  245.000000  245.000000  245.0
mean    -0.083437    6.019194    0.822677    1.960009    8.323278    0.0
std      1.392350    0.643421    0.104405    0.200529   10.900488    0.0
min     -5.391040    5.023942    0.682401    1.644255   -2.152143    0.0
25%     -0.771871    5.495953    0.735460    1.798737   -1.958214    0.0
50%      0.000000    5.810628    0.774275    1.899833   10.895982    0.0
75%      0.631583    6.721107    0.940932    2.161991   12.496256    0.0
max      5.193799    7.386724    1.034116    2.376102   31.326051    0.0

In [7]:
# 查看表 文本型数据 基本描述
print(df1.describe(include=['O']))

              date       code
count          245        245
unique         245          1
top     2018-04-17  sh.600000
freq             1        245

In [8]:
# 查看表的 行索引
print(df1.index)

RangeIndex(start=0, stop=245, step=1)

In [9]:
# 查看表的 列索引
print(df1.columns)

Index(['date', 'code', 'open', 'high', 'low', 'close', 'preclose', 'volume',
       'amount', 'adjustflag', 'turn', 'tradestatus', 'pctChg', 'peTTM',
       'pbMRQ', 'psTTM', 'pcfNcfTTM', 'isST'],
      dtype='object')

In [10]:
# task4--查看该份数据的字段概况
# 查看字段整体类型
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         245 non-null    object
 1   code         245 non-null    object
 2   open         245 non-null    float64
 3   high         245 non-null    float64
 4   low          245 non-null    float64
 5   close        245 non-null    float64
 6   preclose     245 non-null    float64
 7   volume       245 non-null    int64
 8   amount       245 non-null    float64
 9   adjustflag   245 non-null    int64
 10  turn         245 non-null    float64
 11  tradestatus  245 non-null    int64
 12  pctChg       245 non-null    float64
 13  peTTM        245 non-null    float64
 14  pbMRQ        245 non-null    float64
 15  psTTM        245 non-null    float64
 16  pcfNcfTTM    245 non-null    float64
 17  isST         245 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 34.6+ KB
None

In [11]:
# task5--数据的选取（索引方式)
# 任务提示：对 DataFrame 进行选择，主要有以下几种索引方式：
# ① 使用 [ ]；
# ② 使用 df.loc[ ]；
# ③ 使用 df.iloc[ ]，此种方式为标签位置索引，感兴趣的可自行了解；
# task5-1--使用[ ]位置索引方式，选取出前 3 行数据
print(df1.iloc[:3,:])
print('-'*80)
print(df1[:3])

         date       code       open       high        low      close  \
0  2017-12-07  sh.600000  12.814685  12.893850  12.775103  12.824581
1  2017-12-08  sh.600000  12.844372  12.854267  12.735521  12.794894
2  2017-12-11  sh.600000  12.784999  12.903745  12.715730  12.834476

    preclose    volume       amount  adjustflag      turn  tradestatus  \
0  12.824581  34802229  451233524.0           2  0.123835            1
1  12.824581  31296221  404411517.0           2  0.111360            1
2  12.794894  36649902  474566888.0           2  0.130409            1

     pctChg     peTTM     pbMRQ     psTTM  pcfNcfTTM  isST
0  0.000000  7.004418  0.981842  2.310626  -2.043354     0
1 -0.231479  6.988205  0.979569  2.305277  -2.038624     0
2  0.309358  7.009823  0.982600  2.312409  -2.044930     0
--------------------------------------------------------------------------------
         date       code       open       high        low      close  \
0  2017-12-07  sh.600000  12.814685  12.893850  12.775103  12.824581
1  2017-12-08  sh.600000  12.844372  12.854267  12.735521  12.794894
2  2017-12-11  sh.600000  12.784999  12.903745  12.715730  12.834476

    preclose    volume       amount  adjustflag      turn  tradestatus  \
0  12.824581  34802229  451233524.0           2  0.123835            1
1  12.824581  31296221  404411517.0           2  0.111360            1
2  12.794894  36649902  474566888.0           2  0.130409            1

     pctChg     peTTM     pbMRQ     psTTM  pcfNcfTTM  isST
0  0.000000  7.004418  0.981842  2.310626  -2.043354     0
1 -0.231479  6.988205  0.979569  2.305277  -2.038624     0
2  0.309358  7.009823  0.982600  2.312409  -2.044930     0

In [12]:
# task5-2--使用[ ]标签索引方式，选取出 “date” 一列，并用 type 查看返回的数据类型
a = df1.loc[:,'date']
print(a)
print('-' * 30)
print(type(a))

0      2017-12-07
1      2017-12-08
2      2017-12-11
3      2017-12-12
4      2017-12-13
          ...
240    2018-12-03
241    2018-12-04
242    2018-12-05
243    2018-12-06
244    2018-12-07
Name: date, Length: 245, dtype: object
------------------------------
<class 'pandas.core.series.Series'>

In [13]:
# task5-3--使用[ ]标签索引方式，取出 “date”、“open” 列和 “colse” 列，
# 并用 type 查看返回的数据类型
b = df1.loc[:,['date','open','close']]
print(b)
print('-' * 30)
print(type(b))

           date       open      close
0    2017-12-07  12.814685  12.824581
1    2017-12-08  12.844372  12.794894
2    2017-12-11  12.784999  12.834476
3    2017-12-12  12.834476  12.616775
4    2017-12-13  12.666253  12.606880
..          ...        ...        ...
240  2018-12-03  10.990000  11.020000
241  2018-12-04  11.000000  11.080000
242  2018-12-05  10.990000  11.000000
243  2018-12-06  10.820000  10.900000
244  2018-12-07  10.940000  10.890000

[245 rows x 3 columns]
------------------------------
<class 'pandas.core.frame.DataFrame'>

In [14]:
# task5-4--使用[ ]标签索引方式，选取收盘价大于 11.08 的所有数据
c = df1[df1['close']>11.08]
print(c)

           date       code       open       high        low      close  \
0    2017-12-07  sh.600000  12.814685  12.893850  12.775103  12.824581
1    2017-12-08  sh.600000  12.844372  12.854267  12.735521  12.794894
2    2017-12-11  sh.600000  12.784999  12.903745  12.715730  12.834476
3    2017-12-12  sh.600000  12.834476  12.834476  12.606880  12.616775
4    2017-12-13  sh.600000  12.666253  12.676148  12.498029  12.606880
..          ...        ...        ...        ...        ...        ...
91   2018-04-25  sh.600000  11.587642  11.647015  11.528269  11.538165
92   2018-04-26  sh.600000  11.607433  11.656911  11.429314  11.449105
93   2018-04-27  sh.600000  11.459001  11.548060  11.429314  11.488687
219  2018-11-02  sh.600000  11.100000  11.250000  10.940000  11.180000
220  2018-11-05  sh.600000  11.150000  11.250000  11.080000  11.140000

      preclose    volume       amount  adjustflag      turn  tradestatus  \
0    12.824581  34802229  451233524.0           2  0.123835            1
1    12.824581  31296221  404411517.0           2  0.111360            1
2    12.794894  36649902  474566888.0           2  0.130409            1
3    12.834476  30370097  390113096.0           2  0.108064            1
4    12.616775  19345338  246331123.0           2  0.068835            1
..         ...       ...          ...         ...       ...          ...
91   11.656911  16082634  188149247.0           2  0.057226            1
92   11.538165  18205794  211987526.0           2  0.064781            1
93   11.449105  23450783  272328553.0           2  0.083444            1
219  10.890000  47788920  530913675.0           2  0.170045            1
220  11.180000  17012759  189481162.0           2  0.060536            1

       pctChg     peTTM     pbMRQ     psTTM  pcfNcfTTM  isST
0    0.000000  7.004418  0.981842  2.310626  -2.043354     0
1   -0.231479  6.988205  0.979569  2.305277  -2.038624     0
2    0.309358  7.009823  0.982600  2.312409  -2.044930     0
3   -1.696224  6.890921  0.965933  2.273185  -2.010244     0
4   -0.078433  6.885516  0.965175  2.271402  -2.008667     0
..        ...       ...       ...       ...        ...   ...
91  -1.018675  6.309831  0.883355  2.029696  -1.838388     0
92  -0.771871  6.261128  0.876537  2.014029  -1.824198     0
93   0.345721  6.282774  0.879567  2.020992  -1.830504     0
219  2.662993  5.904959  0.771319  1.927417   3.158234     0
220 -0.357781  5.883832  0.768560  1.920521   3.146934     0

[96 rows x 18 columns]

In [15]:
# task5-5--将 date 设置为索引，并重新命名数据库为 df1
df1.set_index('date',inplace=True)
print(df1)

                 code       open       high        low      close   preclose  \
date
2017-12-07  sh.600000  12.814685  12.893850  12.775103  12.824581  12.824581
2017-12-08  sh.600000  12.844372  12.854267  12.735521  12.794894  12.824581
2017-12-11  sh.600000  12.784999  12.903745  12.715730  12.834476  12.794894
2017-12-12  sh.600000  12.834476  12.834476  12.606880  12.616775  12.834476
2017-12-13  sh.600000  12.666253  12.676148  12.498029  12.606880  12.616775
...               ...        ...        ...        ...        ...        ...
2018-12-03  sh.600000  10.990000  11.050000  10.840000  11.020000  10.710000
2018-12-04  sh.600000  11.000000  11.080000  10.970000  11.080000  11.020000
2018-12-05  sh.600000  10.990000  11.100000  10.960000  11.000000  11.080000
2018-12-06  sh.600000  10.820000  10.930000  10.820000  10.900000  11.000000
2018-12-07  sh.600000  10.940000  11.030000  10.880000  10.890000  10.900000

              volume       amount  adjustflag      turn  tradestatus  \
date
2017-12-07  34802229  451233524.0           2  0.123835            1
2017-12-08  31296221  404411517.0           2  0.111360            1
2017-12-11  36649902  474566888.0           2  0.130409            1
2017-12-12  30370097  390113096.0           2  0.108064            1
2017-12-13  19345338  246331123.0           2  0.068835            1
...              ...          ...         ...       ...          ...
2018-12-03  43049070  472438382.0           2  0.153179            1
2018-12-04  20811293  229713745.0           2  0.074052            1
2018-12-05  25491217  281189602.0           2  0.090704            1
2018-12-06  23597997  256533148.0           2  0.083967            1
2018-12-07  10580550  115760323.0           2  0.037648            1

              pctChg     peTTM     pbMRQ     psTTM  pcfNcfTTM  isST
date
2017-12-07  0.000000  7.004418  0.981842  2.310626  -2.043354     0
2017-12-08 -0.231479  6.988205  0.979569  2.305277  -2.038624     0
2017-12-11  0.309358  7.009823  0.982600  2.312409  -2.044930     0
2017-12-12 -1.696224  6.890921  0.965933  2.273185  -2.010244     0
2017-12-13 -0.078433  6.885516  0.965175  2.271402  -2.008667     0
...              ...       ...       ...       ...        ...   ...
2018-12-03  2.894495  5.820451  0.760281  1.899833   3.113035     0
2018-12-04  0.544460  5.852141  0.764420  1.910177   3.129985     0
2018-12-05 -0.722021  5.809888  0.758901  1.896385   3.107385     0
2018-12-06 -0.909094  5.757070  0.752002  1.879146   3.079136     0
2018-12-07 -0.091736  5.751789  0.751312  1.877422   3.076312     0

[245 rows x 17 columns]

In [16]:
# 使用 df.loc[] 标签定位方式，
# 选取 df1 数据库中 2017-12-11 至 2017-12-20 的所有数据
d = df1.loc['2017-12-11':'2017-12-20']
print(d)

                 code       open       high        low      close   preclose  \
date
2017-12-11  sh.600000  12.784999  12.903745  12.715730  12.834476  12.794894
2017-12-12  sh.600000  12.834476  12.834476  12.606880  12.616775  12.834476
2017-12-13  sh.600000  12.666253  12.676148  12.498029  12.606880  12.616775
2017-12-14  sh.600000  12.656357  12.656357  12.527716  12.557402  12.606880
2017-12-15  sh.600000  12.557402  12.596984  12.478238  12.488134  12.557402
2017-12-18  sh.600000  12.577193  12.577193  12.478238  12.517820  12.488134
2017-12-19  sh.600000  12.517820  12.626671  12.488134  12.616775  12.517820
2017-12-20  sh.600000  12.626671  12.626671  12.468343  12.596984  12.616775

              volume       amount  adjustflag      turn  tradestatus  \
date
2017-12-11  36649902  474566888.0           2  0.130409            1
2017-12-12  30370097  390113096.0           2  0.108064            1
2017-12-13  19345338  246331123.0           2  0.068835            1
2017-12-14  16141678  205219487.0           2  0.057436            1
2017-12-15  16210108  205323767.0           2  0.057679            1
2017-12-18  13445648  170140035.0           2  0.047843            1
2017-12-19  18399603  233884666.0           2  0.065470            1
2017-12-20  26639844  337603451.0           2  0.094791            1

              pctChg     peTTM     pbMRQ     psTTM  pcfNcfTTM  isST
date
2017-12-11  0.309358  7.009823  0.982600  2.312409  -2.044930     0
2017-12-12 -1.696224  6.890921  0.965933  2.273185  -2.010244     0
2017-12-13 -0.078433  6.885516  0.965175  2.271402  -2.008667     0
2017-12-14 -0.392466  6.858493  0.961387  2.262488  -2.000784     0
2017-12-15 -0.551613  6.820661  0.956084  2.250008  -1.989747     0
2017-12-18  0.237716  6.836874  0.958357  2.255356  -1.994477     0
2017-12-19  0.790517  6.890921  0.965933  2.273185  -2.010244     0
2017-12-20 -0.156866  6.880112  0.964417  2.269619  -2.007090     0

In [17]:
# task5-6--使用df.loc[]标签定位方式，选取 df1 数据库中 open 至 close 间的所有列
e = df1.loc[:,'open':'close']
print(e)

                 open       high        low      close
date
2017-12-07  12.814685  12.893850  12.775103  12.824581
2017-12-08  12.844372  12.854267  12.735521  12.794894
2017-12-11  12.784999  12.903745  12.715730  12.834476
2017-12-12  12.834476  12.834476  12.606880  12.616775
2017-12-13  12.666253  12.676148  12.498029  12.606880
...               ...        ...        ...        ...
2018-12-03  10.990000  11.050000  10.840000  11.020000
2018-12-04  11.000000  11.080000  10.970000  11.080000
2018-12-05  10.990000  11.100000  10.960000  11.000000
2018-12-06  10.820000  10.930000  10.820000  10.900000
2018-12-07  10.940000  11.030000  10.880000  10.890000

[245 rows x 4 columns]

In [18]:
# task 5-7--使用 df.loc[] 标签定位方式，
# 选取 df1 数据库中时间从 2018-07-01 至 2018-07-08，open 至 close 间的所有列
f = df1.loc['2018-07-01':'2018-07-08','open':'close']
print(f)

                open      high       low     close
date
2018-07-02  9.450212  9.450212  9.133556  9.192929
2018-07-03  9.192929  9.281988  9.103869  9.252302
2018-07-04  9.242406  9.321570  9.183033  9.212720
2018-07-05  9.163242  9.252302  9.123660  9.163242
2018-07-06  9.212720  9.331466  9.074183  9.272093