In [1]:
# 本章数据分析小组练习--北京数据分析师岗位数据统计
import pandas as pd

In [2]:
# task1--现有一组北京地区数据分析师的岗位数据，存于 jobs.csv 中。
# 请按要求进行数据分析统计：
# 利用 pandas 读取 csv 格式数据文件，去除其中的重复值，并展示前部数据
df1 = pd.read_csv('/Users/apple/Desktop/jobs.csv')
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         647 non-null    object
 1   company       650 non-null    object
 2   company_size  588 non-null    object
 3   industry      642 non-null    object
 4   type          650 non-null    object
 5   salary        650 non-null    object
 6   company_type  650 non-null    object
 7   source        647 non-null    object
 8   experience    650 non-null    object
 9   education     650 non-null    object
 10  salary2       546 non-null    float64
dtypes: float64(1), object(10)
memory usage: 56.0+ KB
None

In [3]:
df1.drop_duplicates(inplace=True)
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 650 entries, 0 to 649
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         647 non-null    object
 1   company       650 non-null    object
 2   company_size  588 non-null    object
 3   industry      642 non-null    object
 4   type          650 non-null    object
 5   salary        650 non-null    object
 6   company_type  650 non-null    object
 7   source        647 non-null    object
 8   experience    650 non-null    object
 9   education     650 non-null    object
 10  salary2       546 non-null    float64
dtypes: float64(1), object(10)
memory usage: 60.9+ KB
None

In [4]:
# task2--统计数据表中的招聘岗位都来自于哪些网站
a = df1['source'].value_counts()
print(a)

猎聘           580
OFweek人才网     33
斗米            17
百姓网            5
北极星招聘          5
普工招聘网          4
工厂直聘网          2
康强医疗人才网        1
Name: source, dtype: int64

In [5]:
# task3--统计数据分析师这个岗位，对于工作经验的要求
b = df1['experience'].value_counts()
print(b)

3-5年     232
1-3年     197
不限       142
5-10年     75
10年以上      4
Name: experience, dtype: int64

In [6]:
# task4--统计该地区数据分析岗位对于教育背景的要求
c = df1['education'].value_counts()
print(c)

本科    489
不限     71
硕士     54
大专     26
初中      9
博士      1
Name: education, dtype: int64

In [7]:
# task5--请统计出不同类型公司的职位数量
d = df1['company_type'].value_counts()
print(d)

民营          458
上市公司         62
外商独资/办事处     45
中外合资/合作      42
国企           34
事业单位          4
个人企业          2
股份制           1
其它            1
公立医院          1
Name: company_type, dtype: int64

In [9]:
# task6--所有职位的平均工资是多少
e = round(df1['salary2'].mean(),4)
print(e)

14409.8947

In [10]:
# task7--请统计平均薪资（即 salary2）排在前 10 位的招聘公司及金额
f = df1.sort_values(by='salary2',ascending=False).iloc[:10,:].loc[:,['company','salary2']]
print(f)

           company  salary2
648      国内知名互联网企业  25000.0
550     北京友信科技有限公司  25000.0
401       北京某互联网公司  25000.0
554     北京友信科技有限公司  25000.0
211  北京百分点信息科技有限公司  25000.0
404          某金融公司  25000.0
574   北京中科恒硕科技有限公司  25000.0
177     北京快手科技有限公司  25000.0
416     某知名互联网金融公司  25000.0
163   北京永利范思科技有限公司  25000.0

In [12]:
# task8--请统计发布职位数排在前 10 位的招聘公司及其职位数量
g = df1['company_type'].groupby(df1['company']).count().sort_values(ascending=False)
print(type(g))
print('-' * 60)
print(g.head(10))

<class 'pandas.core.series.Series'>
------------------------------------------------------------
company
百度在线网络技术(北京)有限公司       7
深圳索信达数据技术有限公司          7
车好多旧机动车经纪(北京)有限公司      7
海南小易到家电子商务有限公司上海分公司    6
苏州皇亭电子有限公司             5
贝壳找房(北京)科技有限公司         5
北京百分点信息科技有限公司          4
北京嘀嘀无限科技发展有限公司         4
北京中油瑞飞信息技术有限责任公司       4
北京友信科技有限公司             4
Name: company_type, dtype: int64

In [13]:
# task9--请统计出平均工资排在前 10 位的公司类型及平均工资金额
h = df1['salary2'].groupby(df1['company_type']).mean().sort_values(ascending=False)
print(type(h))
print('-' * 60)
print(h.head(10))

<class 'pandas.core.series.Series'>
------------------------------------------------------------
company_type
外商独资/办事处    17468.750000
股份制         16000.000000
民营          14378.595718
上市公司        14367.346939
事业单位        14166.666667
中外合资/合作     13357.142857
个人企业        13250.000000
国企          12846.153846
其它          10000.000000
公立医院                 NaN
Name: salary2, dtype: float64